<!DOCTYPE html>
<html>
<body>  
  <form style="border:dotted;padding-left:15cm; width: 70%;height:640px;padding-left:10cm;background-color:#e6e6e6;">
    <div>
        <h3 style="padding-left:50px;">Leave Management System</h3>
      <input type="button" value="filter" style="float: right; text-align: center;">
      <button style="float: right; text-align: center;">
        <a routerLink="/addpage">
          <b>Add</b>
        </a>
      </button>
      <!-- <input type="button" value="Add" style="float: right; text-align: center;"> -->
    </div>
    <br>
    <table id="customers"  style="border:dotted;">
      <tr>
        <th>Month</th>
        <th>Count</th>
      </tr>
      <tr>
        <td>january</td>
        <td></td>
      </tr>
      <tr>
        <td>feb</td>
        <td></td>
      </tr>
      <tr>
        <td>Mar</td>
        <td></td>
      </tr>
      <tr>
        <td>Apr</td>
        <td></td>
      </tr>
      <tr>
        <td>May</td>
        <td></td>
      </tr>
      <tr>
        <td>Jun</td>
        <td></td>
      </tr>
      <tr>
        <td>Jul</td>
        <td></td>
      </tr>
      <tr>
        <td>Aug</td>
        <td></td>
      </tr>
      <tr>
        <td>Sep</td>
        <td></td>
      </tr>
      <tr>
        <td>Oct</td>
        <td></td>
      </tr>
      <tr>
        <td>Nov</td>
        <td></td>
      </tr>
      <tr>
        <td>Dec</td>
        <td></td>
      </tr>

      <tr>
        <td>Total</td>
        <td></td>
      </tr>
    </table>
  </form>
</body>
</html>
