
<body style="background-color:#e6e6e6;padding-left:10cm;height:630px;">
  <h2 style="padding-left:2cm;">Employee leave details</h2>
  <br>
  <br>
  <table>
      <tr>
        <td>Name:</td>
        <td>{{userName}}</td>
      </tr>
      <tr>
        <td>AceNo:</td>
        <td>{{aceNo}}</td>
        </tr>
      </table>
  <br>
  <form>
  <table id="customers" >
    <tr>
      <th>Details</th>
      <th>Communicated</th>
      <th>Non-Communicated</th>
    </tr>
    <tr>
        <td>january</td>
        <td>{{jan}}</td>
        <td></td>
      </tr>
      <tr>
        <td>feb</td>
        <td>{{feb}}</td>
        <td></td>
      </tr>
      <tr>
        <td>Mar</td>
        <td>{{mar}}</td>
        <td></td>
      </tr>
      <tr >
        <td>Apr</td>
        <td>{{apr}}</td>
        <td></td>
      </tr>
      <tr>
        <td>May</td>
        <td>{{may}}</td>
        <td></td>
      </tr>
      <tr>
        <td>Jun</td>
        <td>{{jun}}</td>
        <td></td>
      </tr>
      <tr>
        <td>Jul</td>
        <td>{{jul}}</td>
        <td></td>
      </tr>
      <tr>
        <td>Aug</td>
        <td>{{aug}}</td>
        <td></td>
      </tr>
      <tr>
        <td>Sep</td>
        <td>{{sep}}</td>
        <td></td>
      </tr>
      <tr>
        <td>Oct</td>
        <td>{{oct}}</td>
        <td></td>
      </tr>
      <tr>
        <td>Nov</td>
        <td>{{nov}}</td>
        <td></td>
      </tr>
      <tr>
        <td>Dec</td>
        <td>{{dec}}</td>
        <td></td>
      </tr>
      <tr>
        <td>Total</td>
        <td>{{total}}</td>
        <td></td>
      </tr>
  </table>
</form>
</body>
